<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Lola's Recipes | Chicharong Bulaklak</title>
    <link rel="stylesheet" href="/src/style.css">
    <link rel="icon" href="/img/LOLA’s EATERY.png">
    
    <!-- AddBootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- AddFontawesome -->
    <script src="https://kit.fontawesome.com/d68d9e7151.js" crossorigin="anonymous"></script>
    
    <script type="module" src="/src/components/guidelines.js" defer></script>
</head>
<body>
    <div class="main-con d-flex flex-column p-3 ">
        <div class="head-con mb-1 ">
            <img src="/img/LOLA’s EATERY.svg" alt="Eary Logo" width="100">
            <h2 class="m-0">Lola's Recipes</h2>
        </div>

        <div class="content-wrapper p-4 d-flex">
            <div class="recipe-overview p-4 d-flex  align-items-center  flex-column justify-content-center "> 
                <img id="recipeImage" src="/img/Bulaklak.jpg" alt="">
                <h3 id="inner-recipe-title" class="text-center my-2 "></h3>


                <div class="nutrition-info p-3">
                    <h5>Nutrition Info</h5>
                    
                    <div class="indicators d-flex flex-column ">
                        <div class="fats">
                            <p>Fat</p>
                            <div class="fat-bar">
                                <div id="fatInd" class="fat-indicator">
                                </div>
                                <p class="mt-1 indicator-text"></p> 
                            </div>
                        </div>
                        <div class="carb">
                            <p>Carbohydrates</p>
                            <div class="carb-bar">
                                <div id="carbInd" class="carb-indicator">
                                </div>
                                <p class="mt-1 indicator-text"></p> 
                            </div>
                        </div>
                        <div class="sodium">
                            <p>Sodium</p>
                            <div class="sod-bar">
                                <div id="sodInd" class="sod-indicator">
                                </div>
                                <p class="mt-1 indicator-text"></p>   
                            </div>
                        </div>
                        <div class="sugar">
                            <p>Sugar</p>
                            <div class="sug-bar">
                                <div id="sugInd" class="sug-indicator">
                                </div>
                                <p class="mt-1 indicator-text"></p> 
                            </div>
                        </div>
                        <div class="fiber">
                            <p>Fiber</p>
                            <div class="fib-bar">
                                <div id="fibInd" class="fib-indicator">
                                </div>
                                <p class="mt-1 indicator-text"></p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div  id="procedures" class="procedure p-5 ">
                <h3>COOKING GUIDELINES</h3>
                <ol id="guidelineList">
                </ol>
            </div>
        </div>
    </div>
</body>
</html>