@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+3:wght@200;300;400&display=swap');

*{
 box-sizing: border-box;
 padding: 0 !important;
 margin: 0;
 font-family: Poppins;
}
:root{
    --primary-color: #191919;
    --secondary-color:#B20600;
    --tertiary-color: #b96126;
    --white-color:rgb(238, 238, 238);
}
.logo{
    width: 100px !important;
}

body{
    height: 100vh;
}

.main-con{
    height: 100% !important;
    background-image: url("/img/Background.jpg");
    background-size: cover;
}

.head-con{
    color: var(--white-color);
    display: flex !important;
    align-items: center;
}
.menu-section h2{
    margin: 0;
    color: var(--tertiary-color) !important;
}

.content-wrapper{   
    height: 100% !important;
    padding: 10px;
    width: 100%;
    gap: 10px;
    
}

.menu-section{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--primary-color);
    border-radius: 20px;
}

.menu-section h3{
    color: var(--white-color);
}
.content-section{
    border-radius: 20px;
    width: 74%;
    background-color: var(--primary-color);
}
.menu-btn{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    border: 1px solid rgb(245, 138, 66, 0.6);
    color: var(--tertiary-color);
    text-decoration: none;
    height: 10% !important;
    cursor: pointer;
    border-radius: 10px;
}
.menu-btn:hover{
    background-color: rgb(245, 138, 66, 0.2);
    transition: 0.3s ease-out !important;
    text-decoration: none;
    color: white !important;
    border: none;
    border: 1px solid rgb(245, 138, 66, 0.6);
}
.active{
    background-color: var(--tertiary-color) !important;
    text-decoration: none;
    color: white !important;
    border: none !important;
}

.menu-btn:active{
    background-color: rgb(245, 138, 66, 0.2);
    text-decoration: none;
    color: white !important;
    border: none !important;
}

.text-wrapper{
    color: var(--primary-color);
    padding: 10px !important;
    height: 100%;
    text-align: justify;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(238, 238, 238, 0.8);
    display: flex;
    flex-direction: column;
    position: absolute !important;
}
#origin, #category, #ingredients{
    height: auto;
    font-size: 1rem;
}


.text-wrapper h2{
    font-weight: 600 !important;
    color: var(--primary-color);
}

.text-wrapper h4{
    color: var(--tertiary-color) !important;
    height: auto;
    border-bottom: 1px solid var(--tertiary-color);
    font-weight: 600;
}

#content-image{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    width: 400px;
    object-fit: cover;
}

#guidelines{
    display: flex;
    font-size: 1.2rem;
    text-decoration: none;
    position: absolute;
    right: 40px;
    bottom: 40px;
    height: 50px;
    background-color: transparent;
    align-items: center;
    border-radius: 10px;
    color: var(--tertiary-color) !important;
    border: 1px solid var(--tertiary-color);
}

#guidelines:hover{
    transition: 0.3s ease-out !important;
    background-color: #b96126;
    color: var(--white-color) !important;
}

.content-wrapper{
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 20px;
}

.recipe-overview{
    width: 22%;
    background-color: rgb(238, 238, 238, .8);
    border-radius: 20px;
}
.recipe-overview h3{
    font-weight: 600;
    color: var(--tertiary-color);
    
}
#recipeImage{
    width: 80%;
}

.nutrition-info{
    height: auto;
    width: 100%;
    background-color: var(--primary-color) !important;
    height:360px;
    color: var(--white-color);
}
.nutrition-info h5{
    width: 100%;
    border-bottom: 1px solid var(--white-color);
    margin: 0;
    height: 9%;
}

.nutrition-info p{
    margin-bottom: 0;
}
.indicators{
   height: 91%; 
   justify-content: space-evenly;
}
.fat-bar, 
.carb-bar, 
.sod-bar, 
.sug-bar, 
.fib-bar{
    width: 100%;
    height: 5px;
    background-color: var(--white-color);
}
.fat-indicator, 
.carb-indicator, 
.sod-indicator,
.sug-indicator, 
.fib-indicator{
    width: 0%;
    height: 5px;
    background-color: var(--tertiary-color)
}

.fats p, 
.carb p, 
.sodium p,
.sugar p, 
.fiber p{
    font-size: 12px;
    width: 100%;
}

#procedures{
    width :78%;
    background-color: rgb(238, 238, 238, .8);
    border-radius: 20px;
    height: 100%;
}

.indicator-text{
    font-size: 10px !important;
    opacity: .7;
    font-weight: 100;
    letter-spacing: 2px;
}












